/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./Videos.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 10px;
  background-attachment: fixed;
  background-size: cover;
} */
.d {
  color: blueviolet;
}
