.videoresp {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: -30px;
  position: relative;
}
.videoresp iframe,
.videoresp object,
.videoresp embed {
  height: 80%;
  position: absolute;
  width: 80%;
}
.LeccionGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 130px;
  padding: 20px;
  justify-content: center;
}
.ImgStyle {
  border-radius: 70px;
  background-color: black;
  width: 400px;
}
@media (max-width: 400px) {
  .LeccionGrid {
    grid-template-columns: none;
    gap: 0px;
    padding: 0px;
  }
  .ImgStyle {
    width: 300px;
  }
}
