  .botonAtras {
    padding: 15px 50px;
    top: 9%;
    left: 5%;
    position: absolute;
    justify-content: center;
    border-radius: 5px;
  }
  .juego {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 20px;
    position: relative;
  }
  .juego iframe,
  .juego object,
  .juego embed {
    height: 60%;
    left: 0;
    position: absolute;
    top: 0;
    width: 97%;
  }
   .punto {
    list-style: none;
  }
  .juegoslider {
    width: 100%;
    height: 20em;
    background: #444;
    position: relative;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }