.cover-container {
  /* height: 25vh; sea la misma altura en cualquier dispositivo
  width: 100%; */
  /* object-fit: contain; /* siempre misma anchura
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  background-image: url(./cover/fondo/TemasYLecciones.jpg);
  object-fit: cover;
  width: 99%;
  height: 99vh;
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  /*background-position: 0% 0%;
  height: 10px;
  background-attachment: fixed;
  background-size: cover; */
}
.cover-container > h1 {
  color: black;
  font-size: 80px;
  text-align: center;
}
.boton1 {
  background-color: red;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.cover-container > pre {
  color: black;
  font-size: 40px;
}
