
.ini{
   
    height: 80%;
} 
.ap{
    
    margin: auto;
    width: 40%;
    height: 400px;
    align-items: center;
    border-radius:10px ;
       
    position: relative;
    top: 50%;
    left: -5%;
}
.botonAtras{
    position: relative;
    width: 120px;
    height: 40px;
    top: 10px;
    left: 40px;
    
}
.tituloP{
    
    top: 10%;  
    color: rgb(250, 183, 0);
    padding: 0px 0px 10px 0px;
    
    height: 60px;
    width: 100%;
}
.bt{
    display: inline-block;
    
    border-radius: 5px;
    position:relative;
    left: 20%;
    height: 30px;
    width: 70px; 
    text-align: center;
    
}
.bt:hover{
    background-color: #C9CCE5;
}
.titulo{
    position:relative;
    color: white;
    padding: 5px;
    font-size: 50px;

}
.questionsection{
    height: 100%;
    width: 700px;
    border-radius: 10px;  
    align-items: center;
    background-image:url(../images/astronauta.jpg);
    background-size: cover;
    border: 10px solid white;
          
}
.questioncount{
    position: relative;
    bottom: 10%;    
}
.questiontext{
    
    font-size: 50px; 
    font-family: "Butterfly Kids", cursive;
    position: relative; 
    bottom: 15%;
    color:black;
    padding:10px;
    left: 45%;
    width: 45%;  
    
    font-weight: bolder;
    transform:scaleY(2);
    transform:scaleX(1);

   
}
.answersection{
    position: relative;
    bottom: 30%;
    left: 40%;
    margin: auto;
    padding: 10px;
    background-color:none;
    
}
.scoresection{
    background-color: white ;
    height: 100%;
    width: 700px;
    background-image:url(../images/astronauta.jpg);
    background-size: cover;
    border: 10px solid white;
    border-radius: 10px;
}
.respuesta{
    width: 300px;
    position: relative;
    color: black;
    left: 50%;
    top:15%;
    font-size: 27px;
    font-weight: bolder;
    font-family: "Butterfly Kids", cursive;    


}