/* * {
  /*margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./media/TemasYLecciones.jpg);
  /*background-repeat: no-repeat;
  background-position: 0% 0%;
  /*height: 10px;
  background-attachment: fixed;
  background-size: cover;
} */
/* .TemasYLecciones {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
} */
