.title {
  color: black;
  text-align: center;
}
.temas {
  color: black;
  font-size: 30px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./components/cover/fondo/TemasYLecciones.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 10px;
  background-attachment: fixed;
  background-size: cover;
}
.boton1 {
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: 180px;
  top: 30px;
}
.boton2 {
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: 47px;
  top: 150px;
}
.boton3 {
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -83px;
  top: 260px;
}
.boton4 {
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -219px;
  top: 370px;
}
.boton5 {
  background-color: rgb(248, 121, 1);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: 10px;
  top: 30px;
}
.boton6 {
  background-color: rgb(248, 121, 1);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -125px;
  top: 150px;
}
.boton7 {
  background-color: rgb(248, 121, 1);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -258px;
  top: 260px;
}
.boton8 {
  background-color: rgb(248, 121, 1);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -393px;
  top: 370px;
}
.boton9 {
  background-color: rgb(0, 143, 0);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -80px;
  top: 30px;
}
.boton10 {
  background-color: rgb(0, 143, 0);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -218px;
  top: 150px;
}
.boton11 {
  background-color: rgb(0, 143, 0);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -355px;
  top: 260px;
}
.boton12 {
  background-color: rgb(0, 143, 0);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -493px;
  top: 370px;
}
.boton13 {
  background-color: rgb(57, 221, 250);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -115px;
  top: 30px;
}
.boton14 {
  background-color: rgb(57, 221, 250);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: -250px;
  top: 150px;
}
.boton15 {
  background-color: rgb(57, 221, 250);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: 1500px;
  top: 205px;
}
.boton16 {
  background-color: rgb(57, 221, 250);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
  left: 1365px;
  top: 310px;
}
