.title {
  color: black;
  text-align: center;
}
.temas {
  color: black;
  font-size: 30px;
}
<<<<<<< HEAD
=======
/* body {
  margin: 0;
  padding: 3rem;
} */
>>>>>>> ef5ea8a3f220fc024f6125bec24430bfa0a13368
